.main {
    background-image: url("../img/btn_trevoga.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
}

.main-body {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 120px;
    padding-bottom: 62px;
}